<!DOCTYPE html>
<html data-ng-app="resume">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        <%= title %>
    </title>

    <style>
        body {
            z-index: 100
        }
        
        a[ng-click] {
            cursor: pointer;
        }
    </style>

    <!-- Vendor stylesheet assets -->

    <!--bower:css-->
    <link rel="stylesheet" href="/animate.css/animate.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
    <!--endbower-->
    
    <link href="/starterbootstrap/css/modern-business.css" rel="stylesheet">
    <link href="/eternityforms/css/forms.css" rel="stylesheet" />
    
    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>

    <!-- App specific CSS -->
    <link href='/login/css/style.css' rel='stylesheet' />
    <link href="/shared/css/alert.css" rel="stylesheet">
    <link href="/shared/css/notifier.css" rel="stylesheet">
    <link href="/shared/css/app.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body ng-controller="AppCtrl as appCtrl" ng-cloak>
    <resume-notifiers></resume-notifiers>
    <div ng-include="'/shared/views/partials/alerts.html'"></div>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Resume App</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div ng-controller="NavigationCtrl as navigationCtrl" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul ng-if="!navigationCtrl.currentUser.loggedIn" class="nav navbar-nav navbar-right">
                    <li ui-sref-active="active">
                        <a ui-sref="main">Home</a>
                    </li>
                    <li ui-sref-active="active">
                        <a href="#">Services</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="login.signIn">Login</a>
                    </li>
                    <li class="dropdown" ui-sref-active="active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#"></a>
                            </li>
                            <li>
                                <a href="#">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="#">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="#">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="#">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Full Width Page</a>
                            </li>
                            <li>
                                <a href="#">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="#">FAQ</a>
                            </li>
                            <li>
                                <a href="#">404</a>
                            </li>
                            <li>
                                <a href="#">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul ng-if="navigationCtrl.currentUser.loggedIn" class="nav navbar-nav navbar-right">
                    <li ui-sref-active="active">
                        <a ui-sref="main">Home</a>
                    </li>
                    <li ui-sref-active="active">
                        <a href="#" ng-click="navigationCtrl.logout()">Logout</a>
                    </li>
                    <li>
                        <a href="#">Welcome back, {{navigationCtrl.currentUser.firstname}}!</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <button ng-click="createNotifier()">Create Notifier</button>
    <ui-view autoscroll="true"></ui-view>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Resume App 2015</p>
                </div>
            </div>
        </div>
    </footer>


    <!-- ###vendor JS files### -->
    <!-- bower:js -->
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-route/angular-route.js"></script>
    <script src="/angular-resource/angular-resource.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <script src="/polyfills/base64.js"></script>

    <!-- Eternity Forms Vendor-->
    <!-- PlaceHolder For Older Browsers -->
    <script src="/eternityforms/js/placeholders.min.js"></script>

    <!-- Custom Checkbox PLugin -->
    <script src="/eternityforms/js/jquery.icheck.js"></script>

    <!-- Media Query Support For Older Browsers [Ie 8 & lower] -->
    <script src="/eternityforms/js/respond.min.js"></script>
    <!-- end Eternity Forms Vendor -->

    <!-- end ###vendor JS files### -->

    <!-- app files -->
    <script src="/core/js/app.js"></script>
    <script src="/core/js/app.modules.js"></script>
    <script src="/core/js/app.config.js"></script>


    <!-- config files -->


    <!-- directives -->
    <script src="/shared/js/directives/sameAs.js"></script>
    <script src="/shared/js/directives/alert-directive.js"></script>
    <script src="/shared/js/directives/notifiers-directive.js"></script>
    <script src="/login/js/directives/validation-messages-directive.js"></script>

    <!-- services -->
    <script src="/user/js/services/user-service.js"></script>
    <script src="/shared/js/services/decode-token-service.js"></script>
    <script src="/auth/js/services/auth-service.js"></script>
    <script src="/user/js/services/current-user-service.js"></script>
    <script src="/register/js/services/register-service.js"></script>
    <script src="/login/js/services/login-service.js"></script>
    <script src="/login/js/services/forgot-password-service.js"></script>
    <script src="/logout/js/services/logout-service.js"></script>
    <script src="/shared/js/services/alert-service.js"></script>
    <script src="/shared/js/services/notifier-service.js"></script>
    <script src="/auth/js/services/auth-interceptor-service.js"></script>



    <!-- controllers -->
    <script src="/shared/js/controllers/app-controller.js"></script>
    <script src="/main/js/controllers/main-controller.js"></script>
    <script src="/login/js/controllers/login-controller.js"></script>
    <script src="/login/js/controllers/forgot-password-controller.js"></script>
    <script src="/logout/js/controllers/logout-controller.js"></script>
    <script src="/register/js/controllers/register-controller.js"></script>
    <script src="/navigation/js/controllers/navigation-controller.js"></script>
    <script src="/shared/js/controllers/alert-parent-controller.js"></script>
    <script src="/shared/js/controllers/alert-controller.js"></script>
    <script src="/writers/js/controllers/writers-controller.js"></script>


    <!-- config files -->
    <script src="/auth/js/auth.config.js"></script>










    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

    <!-- For Initializing Checkbox And Focus Event For Textbox -->
    <script type="text/javascript">
        $(function () {

            //Custom Checkbox For Light Theme
            $("input").iCheck({
                checkboxClass: 'icheckbox_square-blue',
                increaseArea: '20%'
            });


            //Custom Checkbox For Dark Theme
            $(".dark input").iCheck({
                checkboxClass: 'icheckbox_polaris',
                increaseArea: '20%'
            });


            //TextBox Focus Event
            $(".form-control").focus(function () {
                $(this).closest(".textbox-wrap").addClass("focused");
            }).blur(function () {
                $(this).closest(".textbox-wrap").removeClass("focused");
            });

        });
    </script>
</body>

</html>