<!-- Page Heading/Breadcrumbs -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Login Page
            <small>Forgot Your Password?</small>
        </h1>
        <ol class="breadcrumb">
            <li>
            	<a ui-sref="main">Home</a>
            </li>
              <li>
            	<a ui-sref="login.signIn">Login</a>
            </li>
            <li class="active">Forgot Password</li>
        </ol>
    </div>
</div>

  <div class="container eternity-form" ng-controller="ForgotPasswordCtrl as forgotPasswordCtrl">
        <div class="forgot-password-section animated bounceInLeft">
            <div class="section-title">
                <h3>Reset Password</h3>
                <h2>{{forgotPasswordCtrl.user}}</h2>
            </div>
            <div class="forgot-content">
                <form ng-submit="forgotPasswordCtrl.resetPassword()" name="forgotPasswordForm" novalidate>
                    <div class="textbox-wrap">
                        <div class="input-group">
                            <span class="input-group-addon "><i class="icon-envelope icon-color"></i></span>
                            <input type="email" ng-model="forgotPasswordCtrl.user.email" class="form-control " placeholder="Email" />
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon "><i class="icon-envelope icon-color"></i></span>
                            <input type="password" ng-model="forgotPasswordCtrl.user.password" class="form-control " placeholder="Password" />
                        </div>
                    </div>
                    <div class="forget-form-action clearfix">
                        <a class="btn btn-success pull-left blue-btn"><i class="icon-chevron-left"></i>&nbsp;&nbsp;Back  </a>
                        <button type="submit" class="btn btn-success pull-right green-btn">Submit &nbsp;&nbsp; <i class="icon-chevron-right"></i></button>
                    </div>
                </form>
            </div>
        </div>

    </div>