<form ng-submit="loginCtrl.submit()" name="loginForm" novalidate>
    <div class="section-title">
        <h3>LogIn to your Account</h3>
    </div>
    <div class="textbox-wrap" ra-validations-messages>
        <div class="input-group">
            <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
            <input type="text" ng-minlength="6" name="username" ng-model="loginCtrl.user.username" required class="form-control" placeholder="Username" />
        </div>
    </div>

    <div class="textbox-wrap" ra-validations-messages>
        <div class="input-group">
            <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
            <input type="password" name="password" ng-minlength="6" ng-model="loginCtrl.user.password" required class="form-control " placeholder="Password" />
        </div>
       
    </div>
    <div class="login-form-action clearfix">
        <div class="checkbox-wrap">



            <div class="row">
            <div class="checkbox col-md-6">

                <span class="checkbox-input col-xs-2">
                     <input class="icheckbox_square-blue checked" type="checkbox" nme="iCheck">
                </span>
                <span class="checkbox-text" class="col-xs-10">&nbsp;Remember Me</span>
            </div>
            <div class="login-form-submit col-md-6">
                <button ng-disabled="loginForm.$invalid" type="submit" class="btn btn-success pull-right green-btn ">Log In! &nbsp; <i class="icon-chevron-right"></i></button>
            </div>

            </div>

        </div>
    </div>
    <pre>{{loginForm | json}}</pre>
</form>