<form ng-submit="registerCtrl.submit()" name="registerForm" novalidate>
    <div class="section-title reg-header animated fadeInDown">
        <h3>Get your Account Here </h3>

    </div>
    <div class="clearfix">
        <div class="col-sm-6 registration-left-section  animated fadeInUp">
            <div class="reg-content">
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                        <input ng-model="registerCtrl.user.firstname" name="firstname" type="text" class="form-control " placeholder="First Name" required />
                    </div>
                </div>
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                        <input ng-model="registerCtrl.user.lastname" name="lastname" type="text" class="form-control " placeholder="Last Name" required />
                    </div>
                </div>
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="icon-envelope icon-color"></i></span>
                        <input ng-model="registerCtrl.user.email" name="email" type="email" class="form-control " placeholder="Email" required />
                    </div>
                </div>


            </div>
        </div>
        <div class="col-sm-6 registration-right-section animated fadeInUp">
            <div class="reg-content">
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                        <input ng-model="registerCtrl.user.username" name="username" type="text" class="form-control " placeholder="Username" required />
                    </div>
                </div>
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                        <input ng-model="registerCtrl.user.password" name="password" type="password" class="form-control " placeholder="Password" required />
                    </div>
                </div>
                <div class="textbox-wrap">
                    <div class="input-group">
                        <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                        <input ng-model="registerCtrl.user.passwordConfirmation" name="passwordConfirmation" same-As="registerCtrl.user.password" type="password" class="form-control " placeholder="Confirm Password" required />
                    </div>
                    <div class="help-block" ng-show="registerForm.passwordConfirmation.$dirty && registerForm.passwordConfirmation.$invalid">
                        <div ng-message="required">Your password must match!</div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <div class="registration-form-action clearfix animated fadeInUp">
        <a ui-sref="login" class="btn btn-success pull-left blue-btn ">
            <i class="icon-chevron-left"></i>&nbsp; &nbsp;Back To Login  
        </a>
        <button type="submit" class="btn btn-success pull-right green-btn ">Register Now &nbsp; <i class="icon-chevron-right"></i></button>

    </div>
</form>