 <!-- Page Content -->
    <div class="container" ng-controller="RegisterCtrl as registerCtrl">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Register Page
                    <small>Enter Your Info Below To Register!</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a ui-sref="main">Home</a>
                    </li>
                    <li class="active">Register</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <div class="col-lg-12">

                <div class="container eternity-form">
                    <div class="registration-form-section">
                        <form>
                            <div class="section-title reg-header animated fadeInDown">
                                <h3>Get your Account Here </h3>

                            </div>
                            <div class="clearfix">
                                <div class="col-sm-6 registration-left-section  animated fadeInUp">
                                    <div class="reg-content">
                                        <div class="textbox-wrap">
                                            <div class="input-group">
                                                <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                                <input type="text" class="form-control " placeholder="FirstName" required="required" />
                                            </div>
                                        </div>
                                        <div class="textbox-wrap">
                                            <div class="input-group">
                                                <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                                <input type="text" class="form-control " placeholder="LastName" required="required" />
                                            </div>
                                        </div>
                                        <div class="textbox-wrap">
                                            <div class="input-group">
                                                <span class="input-group-addon "><i class="icon-envelope icon-color"></i></span>
                                                <input type="email" class="form-control " placeholder="Email Id" required="required" />
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-sm-6 registration-right-section animated fadeInUp">
                                    <div class="reg-content">
                                        <div class="textbox-wrap">
                                            <div class="input-group">
                                                <span class="input-group-addon "><i class="icon-user icon-color"></i></span>
                                                <input type="text" class="form-control " placeholder="UserName" required="required" />
                                            </div>
                                        </div>
                                        <div class="textbox-wrap">
                                            <div class="input-group">
                                                <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                                                <input type="password" class="form-control " placeholder="Password" required="required" />
                                            </div>
                                        </div>
                                        <div class="textbox-wrap">
                                            <div class="input-group">
                                                <span class="input-group-addon "><i class="icon-key icon-color"></i></span>
                                                <input type="password" class="form-control " placeholder="Confirm-Password" required="required" />
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="registration-form-action clearfix animated fadeInUp">
                                <a href="#" class="btn btn-success pull-left blue-btn ">
                                    <i class="icon-chevron-left"></i>&nbsp; &nbsp;Back To Login  
                                </a>
                                <button type="submit" class="btn btn-success pull-right green-btn ">Register Now &nbsp; <i class="icon-chevron-right"></i></button>

                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- END Content Row -->

        <hr>


    </div>
    <!-- /.container -->