.alert-container {
    z-index: 1;
    position: fixed;
    display: none;
}


.alert-container {
    background: transparent;
}

.alert-success {
    background-color: green; 
    color: white;
}

.alert-info {
    background-color: #d9edf7; 
	color: black;
}

.alert-error {
    background-color: #d7a627;
    color: #fff;
}


.alert, .alert .close-alert {
	max-width: 200px;
	margin: 0 auto;
	margin-right: 20px;
}

.alert-danger {
    background-color: red;
}

.ninja {
    width: 5px;
    height: 5px;
    visibility: 'hidden';
}


.close-alert {
  /*  width: 100px;
    height: 100px;
     background: black; 
    display: none;
    right: 10px; 
    position: absolute; */
    width: 100px;
    height: 100px;
}


.main-alert {
    max-width: 400px;
    margin: 0 auto;
    position: absolute;
}

/*.alert-hidden {
    display: none;
}*/