body {
  font: 14px "Lucida Grande"; Helvetica, Arial, sans-serif;
  /* z-index: 100; */
}

a {
  color: #00B7FF;
}

a[ng-click]{
	cursor: pointer;
}

.btn {
	z-index: 1000;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}